@import "tailwindcss/preflight"; /* to ensure consistent styling across browsers*/
@config "./tailwind.config.js"; /* default settings of tailwinf configurations*/
@tailwind utilities; /*injects the tailwinds utility classes */
body {
  background-color: var(--color-primary);
  color: var(--color-gray-100);
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-secondary);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-accent);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-violet-700);
}
#root {
  width: 100%; /* Ensure root takes full width */
  margin: 0;
  padding: 0;
  text-align: center;
}
html {
  scroll-behavior: smooth;
}
